/* Theme
 * ================================================================================ */

:root,
:root[data-theme="light"] {
  --unified-colour-base                 : #212223;
  --unified-colour-background           : #ffffff;
  --unified-colour-h2-border            : #1976d2;
  --unified-colour-h2-base              : #1565c0;
  --unified-colour-h3-border            : #616161;
  --unified-colour-h3-base              : #424242;
  --unified-colour-blockquote-border    : #66ddaa;
  --unified-colour-blockquote-background: #ddffee;
  --unified-colour-pre-border           : #ced4da;
  --unified-colour-pre-background       : #f6f7f8;
  --unified-colour-table-border         : #ced4da;
  --unified-colour-th-background        : #f6f7f8;
  --unified-colour-td-background        : #ffffff;
  --unified-colour-hr-border            : #424242;
  --unified-colour-link-base            : #0070ff;
  --unified-colour-link-hover           : #ff0099;
  --unified-colour-em-base              : #00aa40;
  --unified-colour-strong-base          : #f90010;
  --unified-colour-code-border          : #ced4da;
  --unified-colour-code-base            : #ff0099;
  --unified-colour-code-background      : #f6f7f8;
  --unified-colour-menu-background      : #f2f4f7;
  --unified-colour-header-link-base       : rgba(128, 128, 128, .3);
  --unified-colour-header-link-hover      : rgba(128, 128, 128, .6);
  --unified-colour-header-link-focus      : rgba(128, 128, 128, .9);
  --unified-colour-textbox-background     : rgba(255, 255, 255, .5);
  --unified-colour-button-background      : rgba(255, 255, 255, .5);
  --unified-colour-button-background-hover: rgba(  0,   0,   0, .05);
  --unified-colour-button-background-focus: rgba(  0,   0,   0, .1);
}

:root[data-theme="dark"] {
  --unified-colour-base                 : #ffffff;
  --unified-colour-background           : #132029;
  --unified-colour-h2-border            : #1976d2;
  --unified-colour-h2-base              : #1f8cf9;
  --unified-colour-h3-border            : #adb5bd;
  --unified-colour-h3-base              : #adb5bd;
  --unified-colour-blockquote-border    : #66ddaa;
  --unified-colour-blockquote-background: #004c20;
  --unified-colour-pre-border           : #6c757d;
  --unified-colour-pre-background       : #343a40;
  --unified-colour-table-border         : #ced4da;
  --unified-colour-th-background        : #000000;
  --unified-colour-td-background        : #343a40;
  --unified-colour-hr-border            : #adb5bd;
  --unified-colour-link-base            : #40a0ff;
  --unified-colour-link-hover           : #ff0099;
  --unified-colour-em-base              : #00bb50;
  --unified-colour-strong-base          : #fc0010;
  --unified-colour-code-border          : #6c757d;
  --unified-colour-code-base            : #ff0099;
  --unified-colour-code-background      : #343a40;
  --unified-colour-menu-background      : #101920;
  --unified-colour-header-link-base       : rgba(200, 200, 200, .3);
  --unified-colour-header-link-hover      : rgba(200, 200, 200, .6);
  --unified-colour-header-link-focus      : rgba(200, 200, 200, .9);
  --unified-colour-textbox-background     : rgba(  0,   0,   0, .5);
  --unified-colour-button-background      : rgba(  0,   0,   0, .5);
  --unified-colour-button-background-hover: rgba(255, 255, 255, .05);
  --unified-colour-button-background-focus: rgba(255, 255, 255, .1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --unified-colour-base                 : #ffffff;
    --unified-colour-background           : #132029;
    --unified-colour-h2-border            : #1976d2;
    --unified-colour-h2-base              : #1f8cf9;
    --unified-colour-h3-border            : #adb5bd;
    --unified-colour-h3-base              : #adb5bd;
    --unified-colour-blockquote-border    : #66ddaa;
    --unified-colour-blockquote-background: #004c20;
    --unified-colour-pre-border           : #6c757d;
    --unified-colour-pre-background       : #343a40;
    --unified-colour-table-border         : #ced4da;
    --unified-colour-th-background        : #000000;
    --unified-colour-td-background        : #343a40;
    --unified-colour-hr-border            : #adb5bd;
    --unified-colour-link-base            : #40a0ff;
    --unified-colour-link-hover           : #ff0099;
    --unified-colour-em-base              : #00bb50;
    --unified-colour-strong-base          : #fc0010;
    --unified-colour-code-border          : #6c757d;
    --unified-colour-code-base            : #ff0099;
    --unified-colour-code-background      : #343a40;
    --unified-colour-menu-background      : #101920;
    --unified-colour-header-link-base       : rgba(200, 200, 200, .3);
    --unified-colour-header-link-hover      : rgba(200, 200, 200, .6);
    --unified-colour-header-link-focus      : rgba(200, 200, 200, .9);
    --unified-colour-textbox-background     : rgba(  0,   0,   0, .5);
    --unified-colour-button-background      : rgba(  0,   0,   0, .5);
    --unified-colour-button-background-hover: rgba(255, 255, 255, .05);
    --unified-colour-button-background-focus: rgba(255, 255, 255, .1);
  }
}


/* Global
 * ================================================================================ */

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium"), local("YuGothic-Medium");
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold"), local("YuGothic-Bold");
  font-weight: bold;
}

:root {
  --unified-ratio-1: 1.3;
  --unified-ratio-2: calc(var(--unified-ratio-1) * var(--unified-ratio-1));
  --unified-ratio-4: calc(var(--unified-ratio-2) * var(--unified-ratio-2));
  --unified-ratio-8: calc(var(--unified-ratio-4) * var(--unified-ratio-4));
  
  --unified-space-default: calc(1rem * var(--unified-ratio-2));
  --unified-space-small  : calc(var(--unified-space-default) / var(--unified-ratio-2));
  --unified-space-large  : calc(var(--unified-space-default) * var(--unified-ratio-4));
  --unified-space-tiny   : calc(var(--unified-space-small) / var(--unified-ratio-2));
  --unified-space-huge   : calc(var(--unified-space-large) * var(--unified-ratio-4));
  
  --unified-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, YuGothic, "Yu Gothic", "Noto Sans Japanese", "Noto Sans JP", "Noto Sans CJK JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --unified-font-family-monospace : "Noto Sans Mono CJK JP", Osaka-mono, "MS Gothic", Menlo, Consolas, Courier, "Courier New", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --unified-font-family-serif     : Georgia, YuMincho, "Yu Mincho", "Noto Serif JP", "Noto Serif CJK JP", "Hiragino Mincho ProN", "HGS明朝E", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --unified-menu-width: 275px;
  --unified-header-link-width: .85rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden scroll;
  overflow-wrap: break-word;
  color: var(--unified-colour-base);
  font-size: 17px;
  font-family: var(--unified-font-family-sans-serif);
  text-underline-offset: .1em;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  line-height: 1.7;
  background: var(--unified-colour-background);
  cursor: default;
}

@media (max-width: 600px) {
  html {
    word-break: break-all;
  }
}

body {
  height: 100%;
  margin: 0;
}


/* Blocks
 * ================================================================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--unified-space-large) 0 var(--unified-space-default);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  border-bottom: 2px solid var(--unified-colour-h2-border);
  color: var(--unified-colour-h2-base);
  font-size: 1.75rem;
}

h3 {
  border-bottom: 1px solid var(--unified-colour-h3-border);
  color: var(--unified-colour-h3-base);
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1.1rem;
}

p,
ol,
ul,
blockquote,
pre,
table {
  margin: var(--unified-space-default) 0;
}

ol,
ul {
  padding-left: 1.85rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote {
  border: 1px solid var(--unified-colour-blockquote-border);
  border-radius: 4px;
  padding: var(--unified-space-default) var(--unified-space-small);
  background: var(--unified-colour-blockquote-background);
}

pre {
  border: 1px solid var(--unified-colour-pre-border);
  border-radius: 4px;
  padding: var(--unified-space-small);
  font-size: 1em;
  font-family: var(--unified-font-family-monospace);
  line-height: 1.5;
  background: var(--unified-colour-pre-background);
  overflow: auto;
  overflow-wrap: normal;
  word-break: keep-all;
  white-space: pre;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--unified-colour-table-border);
  padding: calc(var(--unified-space-tiny) / var(--unified-ratio-2)) var(--unified-space-tiny);
}

th {
  font-weight: bold;
  text-align: center;
  background: var(--unified-colour-th-background);
}

td {
  vertical-align: top;
  background: var(--unified-colour-td-background);
}

hr {
  margin: var(--unified-space-large) 0;
  border: 0;
  border-bottom: 1px solid var(--unified-colour-hr-border);
}


/* Inlines
 * ================================================================================ */

a,
:not(pre) a code {
  color: var(--unified-colour-link-base);
  text-decoration: underline;
}

a * {
  text-decoration: underline;
}

a:hover,
a:active,
a:hover *,
a:active * {
  color: var(--unified-colour-link-hover);
}

em,
em *,
:not(pre) em code {
  color: var(--unified-colour-em-base);
  font-style: normal;
  font-weight: bold;
}

strong,
strong *,
:not(pre) strong code {
  color: var(--unified-colour-strong-base);
}

code {
  font-size: 1em;
  font-family: var(--unified-font-family-monospace);
}

:not(pre) > code {
  margin: 0 calc(var(--unified-space-tiny) / var(--unified-ratio-4));
  border: 1px solid var(--unified-colour-code-border);
  border-radius: 4px;
  padding: calc(var(--unified-space-tiny) / var(--unified-ratio-8)) calc(var(--unified-space-tiny) / var(--unified-ratio-2));
  font-size: .94em;
  background: var(--unified-colour-code-background);
}

:not(pre) > code,
:not(pre) > code :hover,
:not(pre) > code:hover {
  color: var(--unified-colour-code-base);
}

img {
  max-width: 100%;
}

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #888888;
  border-radius: 4px;
  padding: .25rem .5rem;
  color: inherit;
  font-size: inherit;
  font-family: var(--unified-font-family-monospace);
  background: var(--unified-colour-textbox-background);
}

[readonly] {
  outline: 0;
  cursor: default;
}

textarea {
  resize: none;
}

button {
  border: 1px solid #888888;
  border-radius: 4px;
  padding: .25rem 1rem;
  color: inherit;
  font-size: inherit;
  font-family: var(--unified-font-family-monospace);
  word-break: normal;
  background: var(--unified-colour-button-background);
  cursor: pointer;
}

button:hover {
  background: var(--unified-colour-button-background-hover);
}

button:focus {
  background: var(--unified-colour-button-background-focus);
}


/* Page Design
 * ================================================================================ */

#unified-toggle-menu {
  position: fixed;
  top: .5rem;
  right: .5rem;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  background: #888888;
  outline: 0;
  z-index: 3000;
}

#unified-toggle-menu:hover {
  opacity: .7;
}

@media (min-width: 992px) {
  #unified-toggle-menu {
    display: none;
  }
}

#unified-toggle-menu > span {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25px;
  height: 2px;
  background: #ffffff;
}

#unified-toggle-menu > span + span {
  margin-top: 5px;
}

#unified-menu-background {
  display: none;
}

#unified-menu-background > span {
  visibility: hidden;
}

html[data-menu="show"] #unified-menu-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  background: rgba(0, 0, 0, .75);
  z-index: 1000;
}

@media (min-width: 992px) {
  html[data-menu="show"] #unified-menu-background {
    display: none;
  }
}

#unified-wrapper {
  height: 100%;
}

#unified-menu {
  position: fixed;
  top: 0;
  left: calc(var(--unified-menu-width) * -1);
  width: var(--unified-menu-width);
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #888888;
  background: var(--unified-colour-menu-background);
  transition: left .15s;
  z-index: 2000;
  -webkit-touch-callout: none;
}

@media (min-width: 992px) {
  #unified-menu {
    left: 0;
  }
}

html[data-menu="show"] #unified-menu {
  left: 0;
}

#unified-menu-container {
  position: relative;
  overflow-y: auto;
  height: 100%;
  padding: .5rem var(--unified-space-tiny) var(--unified-space-default);
  -webkit-overflow-scrolling: touch;
  word-break: break-all;
}

#unified-toggle-theme {
  appearance: none;
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

#unified-toggle-theme:hover {
  opacity: .7;
}

#unified-toggle-theme > svg {
  width: 44px;
  height: 44px;
}

#unified-go-to {
  position: absolute;
  top: .5rem;
  right: var(--unified-space-tiny);
  text-decoration: none;
  opacity: .25;
}

#unified-menu-container > h2 {
  margin-top: var(--unified-space-small);
}

.unified-page-link {
  display: block;
}

#unified-contents {
  height: 100%;
  margin-left: 0;
  padding: 1.25rem;
}

@media (min-width: 992px) {
  #unified-contents {
    margin-left: var(--unified-menu-width);
  }
}

#unified-contents > div {
  padding: var(--unified-space-small) 0 var(--unified-space-default);
}

#unified-contents > div > *:first-child {
  margin-top: 0;
}

#unified-loading-container,
#unified-content-container {
  display: none;
}


/* Admin Design
 * ================================================================================ */

#unified-admin-credential,
#unified-admin-create,
#unified-admin-page-titles-reload {
  display: block;
  width: 100%;
}

#unified-admin-new-url,
#unified-admin-new-title {
  display: block;
  margin-bottom: .5rem;
  width: 100%;
}

.unified-admin-page-link {
  display: block;
}

#unified-admin-init-container h1 {
  margin: 0;
  line-height: 1;
}

#unified-admin-loading-container {
  display: none;
}

#unified-admin-edit-container {
  display: none; /* To Grid */
  grid-template-rows: auto auto auto 1fr;
  height: 100%;
}

#unified-admin-edit-container h1 {
  margin: 0;
  line-height: 1;
}

#unified-admin-edit-container > div {
  margin: 0 0 .75rem;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: .5rem;
}

#unified-admin-edit-container > div > div {  /* Delete Button */
  align-self: end;
}

@media (min-width: 992px) {
  #unified-admin-edit-container button {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

#unified-admin-edit-title {
  margin: 0 0 .75rem;
}


/* Parsed Markdown Design
 * ================================================================================ */

/* Header Link
 * -------------------------------------------------------------------------------- */

.unified-header-link {
  position: relative;
  left: calc(var(--unified-header-link-width) * -1);
  display: inline-block;
  margin-right: calc(var(--unified-header-link-width) * -1);
  width: var(--unified-header-link-width);
  color: var(--unified-colour-header-link-base);
  font-size: .85rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

:hover > .unified-header-link {
  color: var(--unified-colour-header-link-hover);
}

.unified-header-link:hover,
.unified-header-link:hover * {
  color: var(--unified-colour-header-link-focus);
}

.unified-header-link-mark {
  text-decoration: none;
}

.unified-header-link-mark::before {
  content: "#";
  padding: .6rem 0;
}

/* Prism.js Language
 * -------------------------------------------------------------------------------- */

pre:has(> code[class*="language-"]),
pre[class*="language-"] {
  border: 0;
  background: #171c1d;
}

pre[class*="language-"],
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.punctuation,
.token.url,
.token.variable {
  color: #f2f8f8;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8890a0;
}

.token.constant,
.token.deleted,
.token.keyword,
.token.property,
.token.symbol,
.token.tag {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a6e22e;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.important,
.token.regex {
  color: #fd971f;
}

.token.bold,
.token.important,
.token.italic {
  font-weight: bold;
}
